<div class="main-content">
    <div id="inner-content">
        <div id="welcome">
            Welcome to my personal profile!
        </div>
        <div id="intro">
            My name is Anubhav Kandiyal. I'm a final-year MCA student at PUCSD.
        </div>
    </div>
    <div id="pic">
        <div class="container">
            <img src="../../../assets/images/pic.jpg" alt="Avatar" class="image">
            <div class="middle">
              <div class="text"><a routerLink="/about">Know More</a></div>
            </div>
        </div>
    </div>
</div>