<div id="outer">
    <div id="inner1">
        <div id="name">
            Anubhav Kandiyal
        </div>
        <div id="obj">
            Quick learner with a keen interest in exploring the field of Software Development. Seeking a position that will enhance my knowledge and skills to be able to work and grow professionally as a Software Developer in a stable organization.
        </div>
    </div>
    <div id="inner2">
        <img src="../../../assets/images/pic.jpg" alt="Profile Pic" width="250" height="320">
    </div>
</div>