<div class="contact-outer">
    <div class="contact-left">
        <div *ngFor="let info of contactInfo" class="contact-left-inner">
            {{info.key}}
        </div>
    </div>
    <div class="contact-right">
        <div *ngFor="let info of contactInfo" class="contact-right-inner">
            <a *ngIf="info.link != ''; else elseBlock" href={{info.link}} target="_blank">{{info.value}}</a>
            <ng-template #elseBlock>
                {{info.value}}
            </ng-template>
        </div>
    </div>
</div>