#about {
    margin: 50px 70px;
}

.jumbotron {
    background-color: var(--grey);
    color: white;
}

.btn {
    color: black;
    background-color: white;
    border: none;
    letter-spacing: 1px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: white;
    border: none;
    color: black;
    letter-spacing: 1px;
}

.lead {
    text-align: justify;
    font-size: 1.4rem;
}

.trail {
    text-align: justify;
    font-size: 1.20rem;
}