<div id="about">
    <div class="jumbotron">
        <h1 class="display-4">Hello, all!</h1>
        <p class="lead">
            I'm an aspiring full-stack Web Developer who is always willing to learn new things & exploring new technologies.
            Looking for an entry-level position as a Software Engineer in a dynamic organization that values my analytical and technical skills and provides scope for updating my knowledge, I seek a company that will help me contribute to its development while concurrently aiding my personal growth.
        </p>
        <hr class="my-4">
        <p>Currently, I'm a final year MCA student at Department of Computer Science, Pune University</p>
        <a class="btn btn-dark btn-md" routerLink="/contact" role="button">Contact Me</a>
    </div>
</div>