<div id="about">
    <div class="jumbotron">
        <h2 class="display-7">Education History</h2>
        <div class="lead">
            <div id="ed-history-1">
                <div>
                    Master of Computer Application (MCA)
                </div>
                <div>
                    GPA: 8.79
                </div>
            </div>

            <div id="ed-history-2">
                <div>
                    Department of Computer Science, Pune University
                </div>
                <div>
                    2019 - 22
                </div>
            </div>
        </div>
        <hr class="my-4">

        <div class="lead">
            <div id="ed-history-1">
                <div>
                    B.Sc. (Honors) Computer Science
                </div>
                <div>
                    GPA: 7.6
                </div>
            </div>

            <div id="ed-history-2">
                <div>
                    SSCBS, Delhi University
                </div>
                <div>
                    2016 - 19
                </div>
            </div>
        </div>
        <hr class="my-4">

        <h2 class="display-7">Work History</h2>
        <div class="lead">
            <div id="ed-history-1">
                <div>
                    Software Developer Intern
                </div>
                <div>

                </div>
            </div>

            <div id="ed-history-2">
                <div>
                    Embold Technologies, Pune
                </div>
                <div>
                    July 2021 - Jan 2022
                </div>
            </div>
        </div>
        <hr class="my-4">

        <p class="trail">To get in touch with me...</p>

        <a class="btn btn-dark btn-md" routerLink="/contact" role="button">Contact</a>
    </div>
</div>