<nav>
    <label>
    <a class="logo" routerLink="/">My Portfolio</a>
  </label>
    <ul>
        <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">home</a></li>
        <li><a routerLinkActive="active" routerLink="/about">about me</a></li>
        <li><a routerLinkActive="active" routerLink="/projects">projects</a></li>
        <li><a routerLinkActive="active" routerLink="/skills">skills</a></li>
        <li><a routerLinkActive="active" routerLink="/contact">contact</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>