nav {
    background-color: white !important;
}

nav ul li a {
    color: black;
    letter-spacing: 3px;
    font-size: 19px;
    padding: 12px 27px;
}

li a.active,
li a:hover {
    color: var(--grey) !important;
}